.pageRoot {
	display: flex;
	flex-direction: row;
}

.sloganDiv{
	padding: 10%;
	width: 80%;
}

.cvDiv{
	width: 100%;
	display: flex;
	flex-direction: column;
}

.prjDiv{
	width: 80%;
	display: flex;
	flex-direction: column;
}

.blogDiv{
	width: 80%;
}

.cardDiv{
	width: 80%;
}

.coverDiv{
	width: 50%;
	padding-left: 30%;
}

.coverImage {
	width: 50%;
	padding-bottom: 3%;
	align-self: center;
}

.coverThumbnail{
	height: 70%;
	display: flex;
	justify-content: center;
	background-color: aliceblue;
}

.thumbImage{
	width: 100%;
	height: 100%;
}

.cardText{
	padding: 5%;
	display: flex;
	flex-direction: column;
}